* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Estilo para el encabezado */
header {
    background: gray;
}

/* Estilo para la barra de navegación */
nav {
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

/* Estilo para los enlaces dentro de la navegación */
nav>a {
    color: white;
    text-decoration: none;
}

/* Estilo para el encabezado principal */
h1 {
    font-size: 50px;
    text-align: center;
    padding: 20px;
}

/* Estilo para la sección de habilidades */
.skills {
    display: flex;
    justify-content: space-around;
}

/* Estilo para las imágenes dentro de cada sección de habilidades */
.skills>div>img {
    width: 200px;
}

/* Estilo para la sección de banderas */
.flags {
    flex-direction: row;
}

/* Estilo para el pie de página */
footer {
    margin: 184px 0px 0px 0px;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;

}

/* Estilo para los enlaces dentro del pie de página */
footer a {
    margin: 0px 10px 0px 10px;
}

/* Estilo para el texto en el pie de página */
footer p {
    font-size: small;
}